@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300&display=swap');

// VARIABLES
$haeder-bg:#2c2f36;
$footer-bg:#32353a;
$white:#fff;




// RESET CSS
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6,ul,li,p,a,em,blockquote{
    margin: 0;
    padding: 0;
    font-size:100%;
    font-style: normal;
    font-weight: normal;
    color:inherit;
    text-decoration: none;
    line-height: 1;
}
img{
    vertical-align: top;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

@mixin header-footer ($color) {
    text-align: center;
    background: $color;
}


// TYPOGRAPHY
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size:18px;
}

// HEADER
header {
    @include header-footer($haeder-bg);
    text-transform: uppercase;
    .logo a{
        font-size:24px;
        line-height: 80px;
        color:$white;
        em {
            font-weight: 700;
        }
    }
}


// SLOGAN
.slogan {
    padding:108px 0 98px;
    background: #e2e2e2;
    img{
        width: 100%;
    }
    h2{
        font-size:50px;
        color:#11262e;
    }
    p{
        margin: 24px 0 40px;
        font-size:28px;
        line-height: 37px;
        color:#11262e;
    }
    a{
        display: inline-block;
        padding:0 60px;
        font-size:28px;
        line-height: 70px;
        color:#fff;
        border-radius: 4px;
        background: #00c494;
    }
}


// TESTIMONIAL
.testimonial {
    padding:52px 0;
    text-align: center;
    background: #f0f0f0;
    blockquote {
        color:#000;
        p{
            font-size:28px;
            line-height: 27px;
        }
        small{
            font-size:19px;
            font-style: italic;
            line-height: 27px;
        }
    }
}


// DEVICE
.device {
    padding:98px 0 215px;
    h3{
        margin-bottom: 26px;
        font-size:35px;
        color:#2c2f36;
    }
    p{
        line-height: 27px;
    }
    .device_img {
        position: relative;
        img{
            position: absolute;
            left: 70px;
            opacity: 0;
            &.phone{
                margin-top: 75px;
            }
        }
    }
    &.animate-in{
        .phone {
            animation: fadeIn 1s forwards ease-in;
            transition: 2s ease-in-out;
            transform: translate(11.5em);
            opacity: 1;
        }
        .monitor {
            animation: fadeIn 1s forwards ease-in;
            transition: 2s ease-in-out;
            transform: translate(3em);
            opacity: 1;
        }
    }
}


// FEATURES
.fearures {
    background: #f0f0f0;
    padding:81px 0;
    .item{
        text-align: center;
        img{
            width: 0;
            height: 0;
        }
        h4{
            margin-top: 15px;
            font-size:30px;
            color:#2c2f36;
            text-transform:uppercase;
            opacity: 0;
        }
    }
    &.animate-in {
        img{
            animation: fadeIn 1s forwards ease-in;
            transition: 1s ease-in-out;
            width: 169px;
            height: 169px;
        }
        h4{
            animation: fadeIn 1s forwards ease-in;
            transition: 2s ease-in-out;
            opacity: 1;
        }
    }
}


// LOCATION
.location {
    position: relative;
    height: 512px;
    .striptes{
        display: flex;
        .stripe{
            width: 10%;
            height: 0;
            &.animate_down{
                height: 512px;
            }
        }
        #s1{ background: #2c2f36; transition-delay: 0.1s;}
        #s2{ background: #444850; transition-delay: 0.2s;}
        #s3{ background: #36383c; transition-delay: 0.3s;}
        #s4{ background: #1e2026; transition-delay: 0.4s;}
        #s5{ background: #444850; transition-delay: 0.5s;}
        #s6{ background: #2b2d30; transition-delay: 0.6s;}
        #s7{ background: #212326; transition-delay: 0.7s;}
        #s8{ background: #36383c; transition-delay: 0.8s;}
        #s9{ background: #444850; transition-delay: 0.9s;}
        #s10{ background: #2c2f36; transition-delay: 1s;}
    }
    .contents {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        .map{
            position: relative;
            img{
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }
            .location_radar{
                animation: rotate 4s infinite linear;
            }
        }
        h2{
            font-size:40px;
            font-weight: 700;
            margin-bottom: 30px;
            color:$white;
        }
        p{
            font-size:28px;
            color:$white;
            line-height: 37px;
        }
    }
    &.animate-in{
        .stripe{
            animation: fadeIn 1s forwards ease-in;
            transition: 2s ease-in-out;
            height: 512px;
        }
    }
}

// FOOTER
footer {
    @include header-footer($footer-bg);
    h2{
        line-height: 80px;
        font-size:24px;
        color:$white;
        text-transform: uppercase;
    }
}

// ANIMATION 

@keyframes rotate {
    from { transform:translate(-50%, -50%) rotate(0deg) }
    to { transform:translate(-50%, -50%) rotate(360deg) }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}